{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> {% endblock %}

{% block body %}
<div class="flex-container">

    {% if error %}
    <div class="transparent-box">{{ message }}</div>
    {% endif %}

    <form action="/password_change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required required pattern=".{8,}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
